<% layout('layout') -%>

<div id="messages" data-bind="foreach:guestMessages">
    <div class="message">
      <div class="message-text">
          <p data-bind="text:message"></p>
      </div>      
      <div class="message-date" data-bind="text:entryDate"></div>
      <div class="message-guest" data-bind="text:name"></div>
    </div>
</div>

<script>
    var guestMessage = function(data, parent) {
        var self = this;

        self.message =  ko.observable(data.message);
        self.email =  ko.observable(data.email);
        self.name =  ko.observable(data.name);
        self.entryDate =  ko.observable(new Date(data.entryDate));
        self.status =  ko.observable(data.status);

        return self;
    };

    var indexViewModel = function(data) {
        var self = this;

        console.log(data)

        var boundMessages = $.map(data, function(message){
            return new guestMessage(message, self);
        });
        self.guestMessages = data;

        return self;
    };

    console.log(<%- JSON.stringify(guestMessages) %>)
    ko.applyBindings(new indexViewModel(<%- JSON.stringify(guestMessages) %>), $('#messages')[0]);
</script>