<% layout('layout') -%>

<div id="submission">
    
    <div id="login-title">
        <h1>New Message</h1>
    </div>
    <div id="login-content">
        <input type="text" placeholder="Full Name">
        <input type="text" placeholder="Email">
        <textarea name="message" id="submission-message" cols="30" rows="5" placeholder="Your Message"></textarea>
        <input type="submit">
    </div>
</div>

<div id="messages" data-bind="foreach:guestMessages">
    <div class="message">
      <div class="message-text">
          <p data-bind="text:message"></p>
      </div>
      <div class="message-bar">  
          
          <div class="message-info">
            <div class="message-guest" data-bind="text:name"></div>
            <div class="message-date" data-bind="text:entryDate"></div>
          </div>
          
          <ul class="message-actions">
              <li><a href="#"><i class="fa fa-check"></i></a></li>
              <li><a href="#"><i class="fa fa-times"></i></a></li>
          </ul>
      </div>  
    </div>
</div>

<script>
    var guestMessage = function(data, parent) {
        var self = this;

		data = JSON.parse(data);
		
        self.message =  ko.observable(data.message);
        self.email =  ko.observable(data.email);
        self.name =  ko.observable(data.name);
        self.entryDate =  ko.observable(new Date(data.entryDate));
        self.status =  ko.observable(data.status);

        return self;
    };

    var indexViewModel = function(data) {
        var self = this;

        console.log(data)

        var boundMessages = $.map(data, function(message){
            return new guestMessage(message, self);
        });
        self.guestMessages = ko.observableArray(boundMessages);
		console.log(self.guestMessages());
		
        return self;
    };

    console.log(<%- guestMessages %>)
    ko.applyBindings(new indexViewModel(<%- JSON.stringify(guestMessages) %>), $('#messages')[0]);
</script>