<% layout('layout') -%>

<div class="title">
  <div class="message">
      <div class="message-text">
          <p>I'm releasing this big movie, you should come check it out. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, exercitationem, odio, impedit, dolor nam ex harum nostrum aliquam tempore quam assumenda magnam culpa facilis reiciendis deserunt deleniti non sapiente! Molestias.</p>
      </div>      
      <div class="message-date">May 25th, 1977</div>      
      <div class="message-guest">George Lucas</div>      
  </div>

  <%= name %>
  <%= temp %>
</div>