<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Nodebook - HSC Hackday #1</title>
        <meta name="description" content="ITS Hackday competition #1 on 11/15/13">
        <meta name="author" content="Jack Dehlin, Libby DeHaan, Rose McCluskey, Tanner Yuhase, Travis Maynard">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/jquery.min.js"></script>
        <script src="js/knockout.min.js"></script>

        <!-- HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>
    <body>
        <header>
            <div id="header">
			 <ul id="nav">
                    <li><a href="/login">Admin</a></li>
                </ul>
                <div id="title">
                    <h1>Nodebook</h1>
                </div>
               
            </div>
        </header>

        <div id="core">
            <%-body -%>
        </div>

        <footer>
            <div id="footer">
                <p>Built by Team #2</p>
            </div>
        </footer>
    </body>
</html>