<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Nodebook - HSC Hackday #1</title>
        <meta name="description" content="ITS Hackday competition #1 on 11/15/13">
        <meta name="author" content="Jack Dehlin, Libby DeHaan, Rose McCluskey, Tanner Yuhase, Travis Maynard">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
        <script src="lib/jquery.min.js"></script>
        <script src="lib/knockout.min.js"></script>

        <!-- HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>
    <body>
        <header id="header">
            <div id="header-inner">
			     
                <div id="title">
                    <h1><i class="fa fa-comment-o"></i> <span class="node">Node</span>book</h1>
                </div>
                
                <ul id="nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/login">Admin</a></li>
                </ul>

               
            </div>
        </header>

        <div id="core">
            <%-body -%>
        </div>

        <footer>
            <div id="footer">
                <p>Built by Team #2</p>
            </div>
        </footer>
    </body>
</html>