<% layout('layout') -%>

<div>
  <div><%- session.errorMessage %></div>
  <form method="POST" action="login">
    <input type="text" name="username" />
    <input type="password" name="password" />
    <input type="submit" />
  </form>
</div>