<% layout('layout') -%>

<div id="login">
    <div id="login-title">
        <h1>Login</h1>
    </div>
    <div id="login-content">
        <span><%- session.errorMessage %></span>
        <form method="POST" action="login">
            <input type="text" name="username" placeholder="Username"/>
            <input type="password" name="password" placeholder="Password" />
            <input type="submit" />
        </form>
    </div>
</div>