<% layout('layout') -%>

<div id="login">
  <span><%- session.errorMessage %></span>
  <form method="POST" action="login">
    <input type="text" name="username" />
    <input type="password" name="password" />
    <input type="submit" />
  </form>
</div>